
.error-color {
    color: #F56C6C;
}

.main-color {
    color: #409EFF;
}

.grey-color{
    color: #909399;
}

.font-bold{
    font-weight:bold;
}
.width-100{width: 100%;}
.height-100{height: 100%;}
.text-center{text-align: center;}
.text-left{text-align: left;}
.text-right{text-align: right;}

.font-12{ font-size: 12px; }
.font-14{ font-size: 14px; }
.font-16{ font-size: 16px; }
.font-18{ font-size: 18px; }
.font-20{ font-size: 20px; }
.font-22{ font-size: 22px; }


.m-l-5{margin-left: 5px;}
.m-r-5{margin-right: 5px;}
.m-t-5{margin-top: 5px;}
.m-b-5{margin-bottom: 5px;}

.m-l-10{margin-left: 10px;}
.m-r-10{margin-right: 10px;}
.m-t-10{margin-top: 10px;}
.m-b-10{margin-bottom: 10px;}

.m-l-20{margin-left: 20px;}
.m-r-20{margin-right: 20px;}
.m-t-20{margin-top: 20px;}
.m-b-20{margin-bottom: 20px;}


.flex, .flex-box {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
}

.align-start{
    align-items: flex-start;
}

.justify-s-b {
    justify-content: space-between;
    -webkit-justify-content: space-between;
}

.justify-center{
    justify-content: center;
}

.justify-end{
    justify-content: flex-end;
}

.justify-start{
    justify-content: flex-start;
}


.f-v {
    flex-direction: column;
    -webkit-flex-direction: column;
}
.flex-1 {
    flex-grow: 1;
    -webkit-flex-grow: 1;
}

.flex-wrap{
    flex-wrap: wrap;
}

