
.box{
    position: absolute;
    top: 0;
    right: 30px;
    width: 12px;
    height: 100vh;
    color: #6e7781;
    user-select: none;
    font-size: 12px;
    z-index: 999999;

    .box-content{
        width: inherit;
        background: #f6f8fa;
        height: 0;
    }

    .box-content-item{
        position: absolute;
        cursor: pointer;
        background: #fff8c5;
        width: inherit;
        left: 0;
        height: 12px;
        box-shadow: 0px 0px 2px 0px #c1bc98;;
        z-index: 3;
        border-radius: 3px;
        top: 600px;
    }

    .box-win{
        position: absolute;
        right: 150%;
        top: 0;
        min-width: 300px;
        width: 20%;
        max-height: 300px;
        background: #fff;
        box-shadow: 0px 0px 4px 0px rgb(0 0 0 / 35%);
        border-radius: 4px;
        overflow: auto;
        cursor: initial;
        user-select: text;
        transform: translateY(-40%);
        // pointer-events: none;
    }

    .box-win.right{
        right: initial;
        left: 150%;
    }

    .box-win-item {
        line-height: 1.5;
        padding: 4px 10px;
        color: #333;
    }

    .box-win-item + .box-win-item{
        border-top: 1px solid #ddd;
    }

    .box-win-item-title {
        font-size: 16px;
        line-height: 2;
        margin-bottom: 4px;
    }

    .box-drag{
        position: sticky;
        bottom: 100px;
        left: 0;
        width: inherit;
        height: 20px;
        cursor: pointer;
        background: #fff;
        border-radius: 3px;
        box-shadow: 0px 0px 4px 0px rgb(0 0 0 / 35%);
        z-index: 2;
    }

}

.color-gray{
    color: #aaa;
}

.ellipsis{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow:hidden
}
